* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	padding: 1.5em;
	background-color: #4c11fc;
	color: #73f25a;
	font-family: "Inter";
	font-weight: 250;
	font-size: 1.125em;
	line-height: 120%;
	letter-spacing: -0.02em;
  }
  
  div#temporary {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 3rem);
	padding: 1.5em;
	border: 1px solid #73f25a;
  
	
  }

  h1 {
	font-weight: 100;
	font-size: 52px;
	line-height: 120%;
	letter-spacing: -0.02em;
	max-width: 490px;
  }

  p {
	margin-top: 3rem;
  }

  .rules {
	width: 100vw;
	margin-left: -3em;
	margin-top: auto;
  }

  .rule {
	border-top: 1px solid #73f25a;
	height: 11px;
  }
  
  a,
  /* h1, */
  h2,
  h3,
  h4,
  h5,
  h6,
  /* p, */
  ul li,
  ol li {
	color: #73f25a;
	font-weight: 250;
	font-size: 1.125em;
	line-height: 120%;
	letter-spacing: -0.02em;
	margin-bottom: 1em;
  }
  
  a {
	color: white;
	text-decoration: none;
  }
  